@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0, 0.95);
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fe001a;
    height: 10vh;
}

.logo img{
    height: 5vh;
}


.descricao{
     font-size: 1.8vh;
     color: white;
     text-align: center;    
     margin-top: 6vh;
     margin-bottom: 6vh;
}

.container-pai{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vw;
    height: 100vw;
}

.produtosA{
    display: flex;
}

.produtosB{ 
    display: flex;
}

.coca-img-original img{
    width: 35vw;  
    padding: 0;
    display: flex;
    border-radius: 50%;
    margin-right: 9vw;
    margin-top: 2vw;
    margin-bottom: 9vw;
}

.coca-img-zero img{
    width: 35vw;  
    padding: 0;
    display: flex;
    border-radius: 50%;
    margin-top: 2vw;
    margin-bottom: 9vw;
}

.coca-img-light img{
    width: 35vw;  
    padding: 0;
    display: flex;
    border-radius: 50%;
    margin-right: 9vw;
    margin-bottom: 2vw;
}

.coca-img-cafe img{
    width: 35vw;  
    padding: 0;
    display: flex;
    border-radius: 50%;
    margin-bottom: 2vw;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fe001a;
}

.conteudo-footer{
    display: flex;
    flex-direction: column;
}

.social {                       /*  INICIO DAS CONFIGURAÇÕES DOS ICONES DO FOOTER   */
    display: flex;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.menu-social{
    display: flex;
}

.social-item{
    flex-direction: row;
    list-style-type: none;
}

a .social-icon{
    width: 8vw;
    margin: 1vw;
}
                             /*  FIM DAS CONFIGURAÇÕES DOS ICONES DO FOOTER   */

                            /*  INICIO DAS CONFIGURAÇÕES DOS TEXTOS DE AJUDA DO FOOTER   */

.conteudo-footer .info p{
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 10vw;
    line-height: 10vw;
}

.conteudo-footer .info p span{
    font-weight: 600;
}
                            /*  FIM DAS CONFIGURAÇÕES DOS TEXTOS DE AJUDA DO FOOTER   */


@media (min-width: 767px) and (max-width: 1024){    /*INICIO DO RESPONSIVO PARA O IPAD*/




}