
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body, html {
        height: 100vh;
        width: 100vw;
        font-family: 'Open Sans', sans-serif;
    }

    .natural-caffeine {
        background: url('/assets/images/landing/landing-7.png');
        background-size: cover;
    }

    .phosphoric-acid {
        background: url('/assets/images/landing/landing-1.png');
        background-size: cover;
    }

    .caramel {
        background: url('/assets/images/landing/landing-3.png');
        background-size: cover;
    }

    .water {
        background: url('/assets/images/landing/landing-2.png');
        background-size: cover;
    }

    .happiness {
        background: url('/assets/images/landing/landing-5.png');
        background-size: cover;
    }

    .natural-flavorings {
        background: url('/assets/images/landing/landing-8.png');
        background-size: cover;
    }

    .conteudo-left {
        display: flex;
        justify-content: flex-start;
        align-items: left;
        margin-left:100px;
    }  

    .list-left {
        width: 30%;
    }

    .list-left h1 {
        color: var(--red-strong);
        margin-bottom: 8px;
    }

    .list-left h3 {
        margin-bottom: 20px;
    }


    .list-left ul li {
        list-style: none;
        margin-bottom: 25px;
        border-right: 2px solid rgb(204, 201, 201);
        padding: 5px;
    }



    .conteudo-right {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        width: 90%;
    }

    .list-right{
        width: 30%;
    }

    .list-right h1 {
        color: var(--red-strong);
        margin-bottom: 8px;
    }

    .list-right h3 {
        margin-bottom: 20px;
    }


    .list-right ul li {
        list-style: none;
        margin-bottom: 25px;
        border-left: 2px solid rgb(204, 201, 201);
        padding: 5px;
    }

    .button {
        background-color: var(--red-strong);
        color: white;
        font-weight: bold;
        width: 50%;
        height: 5vh;
        border: none;
        border-radius: 5px;
    }



  

  
 